@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Variables */
:root {
  --font-family:  'Poppins', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-color: #ef5350;
  --primary-color-light: #ff867c;
  --primary-color-dark: #b61827;
  --secondary-color: #e57373;
  --secondary-color-light: #ffa4a2;
  --secondary-color-dark: #af4448;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --white : white;
  --bg-color : #ffebee;
  --black : black;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color-light);
}

a:hover {
  padding: 3px;
  background-color: var(--primary-color-light);
  border-radius: 2px;
  color: var(--primary-color-dark);
}

body {
  font-family: var(--font-family);
}

/* Navbar  */

nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-color-dark);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
  }
  /* .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  } */
  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--black);
    transition: var(--transition);
    padding: 3px 10px;
    border-radius: 5px;
    background-color: var(--secondary-color-light);
    
    
  }

  #logo{
    height: 70px;
    cursor: pointer;
  }
  nav a:hover {
    /* color: var(--secondary-color); */
    /* border-bottom: 2px solid var(--secondary-color); */
    border-radius: 5px;
    background-color: var(--primary-color-light);
    padding: 7px 15px;
    /* color: var(--primary-color-dark); */
    color: var(--black);
    font-weight: var(--bold-font);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--normal-font);
  }

  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  /* Hero Section */

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    
    /* max-width: 68.75rem; */
    height: 400px;
    margin: auto;
    background-color: var(--bg-color);
    /* background-color: white; */
    
  }

  .hero img {
    /* margin-top: 50px; */
    border-radius: 20px;
    height: 20rem;
    box-shadow: 0px 2px 15px 2px var(--primary-color-light);
    transition: var(--transition);
  }
  .hero img:hover{
    height: 23rem;
  }
  .bio {
    width: 30rem;
    padding: 0.625rem;
    border-radius: 6px;
    
  }
  #heading {
    font-size: 50px;
    color: black;
  }
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    /* padding: 0.3rem 0; */
  }

  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: var(--primary-color);
    --color-2: var(--primary-color-light);
    --color-3: var(--primary-color-dark);
  }
  
  .title-word-2 {
    --color-1: var(--secondary-color);
    --color-2: var(--secondary-color-dark);
    --color-3: var(--secondary-color-light);
  }
  
  .title-word-3 {
    --color-1: var(--secondary-color-dark);
    --color-2: var(--primary-color-dark);
    --color-3: var(--secondary-color-light);
  }
  
  .title-word-4 {
    --color-1: var(--primary-color-light);
    --color-2: var(--primary-color);
    --color-3: var(--primary-color-dark);
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

   #resume{
    padding: 10px;
    border: 1px solid var(--primary-color-dark);
    margin-top: 20px;
    display: inline;
    color: var(--primary-color-dark);
    border-radius: 5px;
  }
  #resume:hover{
    transition: var(--transition);
    padding: 12px;
    color: black
  }
 
  #homeextra{
    height: 80px;
    background-color: var(--bg-color);
  }
  /* Here are just some visual styles. 🖌 */
  
  .container {
    display: grid;
    /* place-items: center;   */
    /* text-align: center; */
    /* height: 100vh */
    margin-bottom: 40px;
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    /* font-size: 8.5vw; */
    text-transform: uppercase;
  }
#details{
   padding: 1rem 6rem;
}

#aboutextra{
  height: 100px;
  background-color: var(--bg-color);
}
#aboutextra2{
  height: 30px;
  background-color: var(--secondary-color-light);
  border: 1px solid  var(--secondary-color-light);
}
  .more-about {
    background-color: var(--secondary-color-light);
   
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    padding-top: var(--bottom-margin-2);
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  /* Skills  */

  #skillsextra{
    height: 80px;
    background-color: var(--bg-color);
  }
  .skills {
    /* max-width: 68.75rem; */
    margin: auto;
    text-align: center;
    /* margin-top: 2.5rem; */
    background-color: var(--bg-color);
   padding-bottom: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  .skills-wrapper{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    /* grid-template-rows: repeat(2,auto); */
    margin: auto;
    gap: 20px;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 8rem;
    /* height: 10rem; */
  }

  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-color-light);
    padding: 2px;
    margin: 10px;
    /* transition: var(--transition); */
  }
#skillextra2{
  height: 50px;
  background-color: var(--bg-color);
}

.box-container-my2{
  display: grid;
  grid-template-columns: repeat(3,auto);
  width: 90%;
  margin: auto;
  gap: 30px;
  justify-content: center; 
  align-items: center;
  text-align: center; 
}

.newbox{
  position: relative;
  width: 230px;
  height: 260px;
  padding: 20px;
  
  border-radius: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* flex-direction: column; */
  background: #fff;
  box-shadow: 0 3px 10px var(--secondary-color-light);

}
.percent{
  position: relative;
  height: 150px;
  /* width: 150px; */

}
.percent svg{
  position: relative;
  width: 150px;
  height: 150px;
}
.percent svg circle{
  /* width: 150px;
  height: 150px; */
  fill:  none;
  stroke-width: 10;
  /* stroke: #000; */
  transform: translate(5px,5px);
  /* stroke-dasharray: 440; */
  /* stroke-dashoffset:440; */
  stroke-linecap: round;
}
.percent svg circle:nth-child(1){
  stroke-dashoffset: 0;
  /* stroke: #f3f3f3; */

}
.percent svg circle:nth-child(2){
  stroke-dashoffset: 0;
  stroke:var(--secondary-color);
  
}
.percent .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}
.percent .number h2{
  font-size: 35px;

}
.tech-heading{
  font-weight: var(--bold-font);
  /* color: #444; */
}
.percent .number h2 span{
  font-size: 14px;
}
.text{
  padding: 10px 0 0;
  color: #999;
  font-weight: var(--bold-font);
  letter-spacing: 1p;

}

#git ,#adv{
  margin-top: 50px;
  margin-bottom: 30px;
}

  /* Project  */
 #projectextra{
  height: 60px;
 }
  .projects {
    background-color: var(--secondary-color-light);
    /* padding: 32px 0; */
    /* margin-top: 2rem; */
  }
  
  .project-pic {
    /* width: 65%;
    height: 60%; */
    width: 100%;
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    margin: auto;
    width: 90%;
  
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    /* text-align: center; */
    /* width: 21.875rem; */
    padding: 1rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-color-light);
    padding: 40px;
    margin: 10px;
  }

  #links{
    font-size: var(--font-family);
    color: black;
    margin-right: 10px;
    /* margin-left: 40px; */
    background-color: var(--secondary-color-light);
    border-radius: 5px;
    padding: 5px;
    transition: var(--transition);
  }
  #links:hover{
    padding: 8px;
  }
  .projects-container h4{
    margin-bottom: 10px;
  }
  .projects-container li{
    font-size: 14px;
  }

  /* contact */

  #contactextra{
    background-color: var(--secondary-color-light);
    height: 60px;
  }
  #contactextra2{
    background-color: var(--bg-color);
    height: 50px;
  }
  .contact {
    /* margin-top: 2rem; */
    background-color: var(--bg-color);
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: black;
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }
  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }
  .submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }

  /* Social */
  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1%;
    bottom: 10%;
  }

  .socicon {
    width: 2rem;
    height: 2rem;
  }

  #footer{
    font-size: 16px;
  }

  #heart{
    height: 20px;
  }

  /* Scroll up  */
  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }


  @media screen and (max-width: 768px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
      padding: 1.5rem 1rem;
    }

    nav ul {
      position: fixed;
      background-color: var(--bg-color);
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
     nav ul li {
      margin: 8px;
    }

    .burger-menu {
      display: block;
    }
  
    nav ul.show {
      transform: translateX(0);
    }

    .hero {
      /* margin-top: -4rem; */
      flex-direction: column;
      gap: 5rem;
      height: auto;
    }
  
    .hero img {
          height: 20rem;
          /* width: 30rem; */
      }
      .hero img:hover{
        height: 23rem;
      }
  
    .bio {
      margin-top: -4rem;
      width: 20.5rem;
    }

    /* .more-about {
      margin-top: 2rem;
      padding: 1rem 3.5rem;
    } */
    .icon-card{
        margin: 2px;
    }
    .icon-card h2{
      font-size: 14px;
    }
    .icon{
      width: 5rem;
    }
    .more-about h2 {
      text-align: center;
    }
  
    .more-about p {
      text-align: justify;
    }
    .skills-wrapper{
      grid-template-columns: repeat(3,auto);
  }

    /* .icon {
      width: 5.875rem;
      height: 5.25rem;
    } */

    .box-container-my2{
      grid-template-columns: repeat(2,auto);
      gap: 15px;
    }

    .projects-container {
      justify-content: center;
      grid-template-columns: repeat(1,auto);
    }
  
    #details{
      padding: 0.5rem 3rem;
    }
  }


  @media screen and (max-width: 420px) {
    
  
    .bio {
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }

    .box-container-my2{
      grid-template-columns: repeat(1,auto);
      gap: 15px;
    }
  } 
